<%- include('layout') -%>
<h1><%= device.name %></h1>
<p>Status: <%= device.status %></p>
<button onclick="controlDevice('<%= device.id %>', 'on')">Turn On</button>
<button onclick="controlDevice('<%= device.id %>', 'off')">Turn Off</button>