<%- include('layout') -%>
<h1>Device Control</h1>
<ul>
    <% devices.forEach(device => { %>
        <li><%= device.name %> - <%= device.status %>
            <button onclick="controlDevice('<%= device.id %>', 'on')">On</button>
            <button onclick="controlDevice('<%= device.id %>', 'off')">Off</button>
        </li>
    <% }) %>
</ul>